---

---

@import "bootstrap_custom";

/* GLOBAL STYLES */

@font-face {
  $icon-font-name: 'MonoSocialIconsFont-1.10';
  $icon-font-path: 'fonts/MonoSocialIconsFont-1.10/';
  $icon-font-svg-id: 'MonoSocialIconsFont';
  font-family: 'Mono Social Icons Font';    
  src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.eot'), '#{$icon-font-path}#{$icon-font-name}.eot'));
  src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.eot?#iefix'), '#{$icon-font-path}#{$icon-font-name}.eot?#iefix')) format('embedded-opentype'),
       url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.woff'), '#{$icon-font-path}#{$icon-font-name}.woff')) format('woff'),
       url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.ttf'), '#{$icon-font-path}#{$icon-font-name}.ttf')) format('truetype'),
       url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}'), '#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}')) format('svg');
  src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.ttf'), '#{$icon-font-path}#{$icon-font-name}.ttf')) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  .page-content{

  }
}

hr.divider{
  margin:60px 0;
}

.socialicon{
  font-family: 'Mono Social Icons Font';
  font-size:3.5em;
}

.social-links{
  list-style:none;
  li{
    display:inline-block;
  }
  a{
    color:$gray-light;
    text-decoration:none;
    &.facebook:hover{
      color: #46629e;
    }
    &.meetup:hover{
      color: #e0393e;
    }
    &.googleplus:hover{
      color: #dd4b39;
    }
    &.twitter:hover{
      color: #55acee;
    }
    &.github:hover{
      color: #4183c4;
    }
    &:hover{
      color:$gray;
    }
  }
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-wrapper {
  .mediatop &{
    position: absolute;
  }
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .navbar {
    padding-right: 15px;
    padding-left: 15px;
    .container {
      width: auto;
    }
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  .mediatop & .item{
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
  }
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* HOMEPAGE PROMOTE CONTENT
-------------------------------------------------- */

.promote {
  > .row > div {
    margin-bottom: 20px;
    text-align: center;
    p {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  h2 {
    font-weight: normal;
  }
}

/* EVENT PAGE
-------------------------------------------------- */
.mod.location{
  > iframe{
    border:none;
    width:100%;
    height:300px;
  }
}

/* FOOTER
-------------------------------------------------- */
.social-block{
  > h3{
    padding-right:18px;
  }
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar {
      padding-right: 0;
      padding-left: 0;
      border-radius: 4px;
    }
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .event-list > div:nth-of-type(2n+3){
    clear:left;
  }
}

@media (min-width: 992px) {
  .event-list > div:nth-of-type(2n+3){
    clear:none;
  }
  .event-list > div:nth-of-type(3n+4){
    clear:left;
  }
  
  .mod.location{
    > iframe{
      border:none;
      width:100%;
      height:400px;
    }
  }
  
}