---
layout: page
title: Events
---
<div id="events" class="row list-wrapper">
	{% for event in site.events reversed %}
		<div class="col-sm-6 col-md-4 list-item" data-year="{{ event.date | date: "%Y" }}" data-month="{{ event.date | date: "%m" }}" data-day="{{ event.date | date: "%d" }}">
			<div class="list-item-block">
				{% if forloop.index < 7 %}
				<a href="{{ event.url }}"><img class="list-item-block-img" src="{{ event.photo }}" alt=""/></a>
				{% endif %}
				<h3 class="list-item-block-hd">{{ event.title }}</h3>
				<div class="list-item-block-bd">
					<p>
						<h5>{{ event.date | date: "%B %-d, %Y" }}</h5>
						<span>{{ event.date | date: "%A %l:%M %p %Z" }}</span>
					</p>
					<a href="{{ event.url }}" class="btn btn-default">View Event Details</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>