---
layout: default
bodyClass: mediatop
---

<div id="myCarousel" class="carousel slide style-shadow-drop" data-ride="carousel">
	{% comment %} The default-carousel.yml file can be found in the _data directory {% endcomment %}
	<ol class="carousel-indicators">
		{% for item in site.data.default-carousel %}
			{% if forloop.first == true %}
			<li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" class="active"></li>
			{% else %}
			<li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" class=""></li>
			{% endif %}		
		{% endfor %}
	</ol>
	<div class="carousel-inner">
		{% for item in site.data.default-carousel %}
			{% if forloop.first == true %}
			<div class="item active" style="background-image:url('{{ item.img }}')">
			{% else %}
			<div class="item" style="background-image:url('{{ item.img }}')">
			{% endif %}
				<!-- <img src="{{ item.img }}"> -->
				<div class="container">
					<div class="carousel-caption">
						<h1>{{ item.headline }}</h1>
						<p>{{ item.content }}</p>
						<p><a class="btn btn-lg btn-primary" href="{{ item.url }}" role="button">{{ item.cta }}</a></p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- end .carousel -->
<div class="container style-shadow-box">
	<div class="row">
		<div class="col-md-4 promote-block">
			<img class="promote-block-img img-circle" src="/assets/img/Roundicons-54.png" alt="Generic placeholder image">
			<h2 class="promote-block-hd">Refresh</h2>
			<div class="promote-block-bd">
				<p>
					{{ site.description }}
				</p>
				<a class="btn btn-default" href="{{ "/about" | prepend: site.baseurl }}" role="button">Learn More »</a>
			</div>
		</div>
		<div class="col-md-4 promote-block">
			<img class="promote-block-img img-circle" src="/assets/img/Roundicons-41.png" alt="Generic placeholder image">
			<h2 class="promote-block-hd">Events</h2>
			<div class="promote-block-bd">
				<p>
					We meet the second Tuesday of each month. The group discusses a variety of topics around the web sphere. Each monthly event we try to have at least two topics, focused in design and development.
				</p>
				<a class="btn btn-default" href="{{ "/events" | prepend: site.baseurl }}" role="button">View events »</a>
			</div>
		</div>
		<div class="col-md-4 promote-block">
			<img class="promote-block-img img-circle" src="/assets/img/Roundicons-01.png" alt="Generic placeholder image">
			<h2 class="promote-block-hd">Members</h2>
			<div class="promote-block-bd">
				<p>
					Membership is open to all who want to learn or contribute. Many of our members are active online professionals, designers, developers, and entrepreneurs.
				</p>
				<a class="btn btn-default" href="{{ "/members" | prepend: site.baseurl }}" role="button">View members »</a>
			</div>
		</div>
	</div>
</div>
<!-- end .promote -->

<!-- <div class="home">

  <h1>Posts</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
