---
layout: default
bodyClass: mediatop
---

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	{% comment %} The default-carousel.yml file can be found in the _data directory {% endcomment %}
	<ol class="carousel-indicators">
		{% for item in site.data.default-carousel %}
			{% if forloop.first == true %}
			<li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" class="active"></li>
			{% else %}
			<li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" class=""></li>
			{% endif %}		
		{% endfor %}
	</ol>
	<div class="carousel-inner">
		{% for item in site.data.default-carousel %}
			{% if forloop.first == true %}
			<div class="item active">
			{% else %}
			<div class="item">
			{% endif %}
				<img src="{{ item.img }}">
				<div class="container">
					<div class="carousel-caption">
						<h1>{{ item.headline }}</h1>
						<p>{{ item.content }}</p>
						<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="container promote">
	<div class="row">
		<div class="col-lg-4">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2>Refresh</h2>
			<p>
				{{ site.description }}
			</p>
			<p>
				<a class="btn btn-default" href="{{ "/about" | prepend: site.baseurl }}" role="button">Learn More »</a>
			</p>
		</div>
		<div class="col-lg-4">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2>Events</h2>
			<p>
				Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
			</p>
			<p>
				<a class="btn btn-default" href="{{ "/events" | prepend: site.baseurl }}" role="button">View events »</a>
			</p>
		</div>
		<div class="col-lg-4">
			<img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
			<h2>Members</h2>
			<p>
				Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
			</p>
			<p>
				<a class="btn btn-default" href="{{ "/members" | prepend: site.baseurl }}" role="button">View members »</a>
			</p>
		</div>
	</div>
</div>

<!-- <div class="home">

  <h1>Posts</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div> -->
