<hr class="divider" />
<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 social-block">
				<h3 class="pull-left">Social</h3>
				<ul class="socialicon social-links">
					<li>
						<a href="{{ site.facebook }}" title="Goto our Facebook Community">&#xe227;</a>
					</li>
					<li>
						<a href="{{ site.meetup }}" title="Goto our Meetup page">&#xe253;</a>
					</li>
					<li>
						<a href="{{ site.googleplus }}" title="Goto our Google+ Community">&#xe239;</a>
					</li>
					<li>
						<a href="{{ site.twitter }}" title="Goto our Twitter feed">&#xe287;</a>
					</li>
					<li>
						<a href="{{ site.github }}" title="Goto our GitHub Group page">&#xe236;</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<p><a href="https://github.com/Refresh-Hilo/Refresh-Hilo.github.io">Check out my source!</a> This site is built with open source tools, and maintained and developed by our refresh members.</p>
			</div>
		</div>
	</div>
</footer>
