---
layout: default
---
<div class="event container">
	<div class="row container">
		<header class="page-header">
			<h1>{{ page.title }}</h1>
			{% if page.meetupid %}
			<a href="{{ site.meetup }}/events/{{ page.meetupid }}" data-event="{{ page.meetupid }}" class="mu-rsvp-btn">RSVP</a>
			{% endif %}
			{% if page.hangoutonair %}
			<a class="btn btn-xs btn-primary" href="{{ page.hangoutonair }}"><span class="glyphicon glyphicon-facetime-video"></span> Hangout</a>
			{% endif %}
		</header>
		<div class="col-sm-4 col-sm-push-8">
			<aside>
				<section class="time-block">
					<h3><span class="glyphicon glyphicon-calendar"></span> Date &amp; Time</h3>
					<div class="well">
						<span class="h4">{{ page.date | date: "%B %-d, %Y" }}</span><br/>
						<span>{{ page.date | date: "%A %l:%M %p %Z" }}</span>
					</div>
				</section>
				{% for location in site.data.event-locations %}
					{% if location.id == page.location %}
					<section class="location-block">
						<h3><span class="glyphicon glyphicon-map-marker"></span> Location</h3>
						<a class="btn btn-small btn-default pull-right" href="{{ location.url }}">Visit website</a>
						<address>
							<strong>{{ location.title }}</strong>
							<br>
							{{ location.address }}
							<br>
							{{ location.city }}, {{ location.state }} {{ location.zip }}
						</address>
						<iframe class="location-block-map" src="https://www.google.com/maps/embed/v1/place?q={{ location.address | append:' ' | append:location.city | append:' ' | append:location.state | append:' ' | append:location.zip | uri_escape }}&key={{ site.key_gmap }}"></iframe>
					</section>
					{% endif %}		
				{% endfor %}
			</aside>
		</div>
		<div class="col-sm-8 col-sm-pull-4 {{ page.tags }}">
			<article>
				<h4 id="event-description">Event Description</h4>
				{{ content }}
				<hr />
				{% include comments.html %}
			</article>
		</div>
	</div>
</div>