---
layout: default
---
<div class="event container">
	<div class="row">
		<div class="col-sm-8 {{ page.tags }}">
			<header class="page-header">
				<h1>{{ page.title }}</h1>
				{% if page.meetupid %}
				<a href="{{ site.meetup }}/events/{{ page.meetupid }}" data-event="{{ page.meetupid }}" class="mu-rsvp-btn">RSVP</a>
				{% endif %}
			</header>
			<article>
				{{ content }}
			</article>
		</div>
		<div class="col-sm-4">
			<aside>
				<section class="mod time">
					<h3><span class="glyphicon glyphicon-calendar"></span> Date &amp; Time</h3>
					<div class="well">
						<span class="h4">{{ page.date | date: "%B %-d, %Y" }}</span><br/>
						<span>{{ page.date | date: "%A %l:%M %p %Z" }}</span>
					</div>
				</section>
				<section class="mod location">
					<h3><span class="glyphicon glyphicon-map-marker"></span> Location</h3>
					{% for location in site.data.event-locations %}
						{% if location.id == page.location %}
							<a class="btn btn-small btn-default pull-right" href="{{ location.url }}">Visit website</a>
							<address>
								<strong>{{ location.title }}</strong>
								<br>
								{{ location.address }}
								<br>
								{{ location.city }}, {{ location.state }} {{ location.zip }}
							</address>
							<iframe src="https://www.google.com/maps/embed/v1/place?q={{ location.address | append:' ' | append:location.city | append:' ' | append:location.state | append:' ' | append:location.zip | uri_escape }}&key={{ site.key_gmap }}"></iframe>
						{% endif %}		
					{% endfor %}
				</section>
			</aside>
		</div>
	</div>
</div>